body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 .container{
     border: 1px solid black;
     background: #3b5998;
     height: 120px;
     display: flex;
      align-items: center;
     /* vertical-align: middle; */

 }
 
 .facebook h1{
  color: white;
  display: inline-block;
  font-size: 40px;
}

.facebook{
  /* display: inline-block; */
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 600px;
}



.inputs{
  display: inline-flex;
  flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.input1{
width: 100px;
height: 20px;
margin-top: 5px;
margin-bottom: 5px;
}



.flex{
display: flex;
flex-direction: column;
/* margin-left: 400px; */
justify-content: center;
margin-right: 10px;
margin-left: 10px;
}

.peep{
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 17px;
margin-right: 10px;
margin-left: 10px;
/* margin-left: 400px; */
}

.button{
height:30px;
margin-top: 18px;

}
.label{
font-size: 12px;
margin: 0;
}


.thik {
display: flex;
flex-direction: column;
margin-left:950px;
margin-top: 20px;
width: 500px;
}

.bt{
margin: 0;

}

.para{
margin: 0;
margin-bottom: 10px;
margin-top: 10px;
}


.name{
display: flex;
justify-content: space-between;
width: 400px;

}

.name input{

max-width: 190px;


}

.papu{
width: 380px;
}

.label2{
font-size: 10px;
word-wrap: break-word;

}

.Gender{
display: flex;
flex-direction: row;
}

.but1{

font-size: 30px;
}
