@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,700&family=Raleway:wght@100&display=swap');

body {
  margin: 0;
  margin: 0;
  border: 10px solid white;
  background: url('w.jpg');
  background-repeat: no-repeat;

  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  

.title h5{
  font-family:  'Raleway', sans-serif; 
  font-size: 50px;
  color:black;
  text-align: center;
    }
.hh{
 padding: 20px;
 float:left;
 margin-left: 340px;
 color: black;
 

} 
.tt{
  padding: 20px;
   margin-left: 508px;
  color:#000000;
  } 
 
label {
  width:150px;
  font-size: 20px;
  font-family: cursive;
  text-align: left;
  
}

input, label {
  float:left;
}
input[type=text] {
  
  border-bottom: 1px solid black ;
}


.button{
  width: 130px;
  height:50px;
  margin-left: 900px;
  
  font-size: 15px;
  font-family:  cursive;
  background-color:white;
  color:black;
  border: 2px black; 
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
  transition-duration: 0.5s;
}
.button:hover{
  background-color: black;
  color: white;
}

